.navbar{
    height: 10vh;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(103, 103, 103, 0.3);
}
.container-fluid{
    height: 10vh;
}
.icon{
    margin-left: auto !important;
    margin-right: 20px;
    scale: 1.3;
    padding: 5px;
    border: 1px rgb(0,46,212) solid;
    border-radius: 50%;
    background-color: rgb(235,239,255);
    color: rgb(0,46,212);
}
.box a{
    font-size: x-large;
    color: black;
    padding: 0;
    margin-bottom: 0;
    margin-right: 50px;
}
.logo{
    margin-left: 100px;
    margin-right: 300px !important;
    font-size: x-large !important;
}